@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Montserrat-Regular.woff2") format("woff2"),
      url("../fonts/Montserrat-Regular.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/Montserrat-Medium.woff2") format("woff2"),
      url("../fonts/Montserrat-Medium.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/Montserrat-SemiBold.woff2") format("woff2"),
      url("../fonts/Montserrat-SemiBold.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/Montserrat-Bold.woff2") format("woff2"),
      url("../fonts/Montserrat-Bold.woff") format("woff");
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  font-family: "Montserrat", "Arial", sans-serif;
  margin: 0 auto;
  min-height: 100%;
  /* width: 1920px; */
  min-width: 320px;
  display: flex;
  flex-direction: column;
  font-size: 22px;
  font-weight: 400;
  line-height: 33px;
  background-color: #ffffff;
  color: #151515;
}

.button {
  display: inline-block;
  padding: 24px 64px;
  font-weight: 500;
  text-decoration: none;
  border-radius: 999px;
  color: #FFFBF5;
  background: #774DF6;
}

/* page-header */
.page-header {
  margin-bottom: 97px;
}

.page-header-container {
  /* width: 1920px; */
  /* min-width: 320px; */
  margin: 15px 64px 0 64px;
  /* margin: 0 64px 97px 64px; */
  /* padding: 15px 64px 17px 64px; */
  /* padding-top: 15px; */
  display: flex;
  justify-content: space-between;
}

.logo {
  width: 259px;
  font-size: 28px;
  font-weight: 700;
  line-height: 40px;
  text-decoration: none;
  color: #151515;
}

.navigation {
  width: 452px;
}

.navigation-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-end;
}

.navigation-item {
  margin-right: 40px;
}

.navigation-item:last-child {
  margin: 0;
}

.navigation-link {
  font-size: 18px;
  font-weight: 500;
  line-height: 26px;
  text-decoration: none;
  color: #151515;
}

/* main */
.main-index-container {
  flex-grow: 1;
  /* max-width: 1920px; */
  /* margin: 0 64px; */
}

/* hero-index */
.hero-index {
  margin-bottom: 160px;
}

.hero-index-container {
  /* width: 1312px; */
  margin: 0 64px;
}

.hero-title {
  margin: 0;
  padding-bottom: 56px;
  width: 1184px;
  font-size: 90px;
  font-weight: 400;
  line-height: 104px;
}

.hero-desc {
  margin: 0;
  width: 1184px;
}

.hero-title-violet {
  color: #AD53F4;
}

.hero-desc-bold {
  font-weight: 700;
}

/* last-cases */
.last-cases-container {
  margin: 0 64px;
}

.last-cases-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.last-cases-item {
  width: 576px;
  height: 830px;
  margin-bottom: 64px;
}

.last-cases-link {
  width: 576px;
  height: 640px;
  margin-bottom: 24px;
  display: inline-block;
}

.last-cases-image {
  background-color: #EEEBF0;
}

.last-cases-hashtag {
  margin: 0 0 16px 0;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  color: #8E8E8E;
}

.last-cases-link-desc {
  font-size: 28px;
  font-weight: 500;
  line-height: 42px;
  text-decoration: none;
  color: #151515;
}

/* all-works */
.all-works-container {
  margin: 0 64px;
  height: 281px;
  padding: 80px 0 120px;
  text-align: center;
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
}

/* footer */
.page-footer {
  background-color: #1C1C1F;
  color: #FFFBF5;
}

.page-footer-container {
  margin: 0 64px;
}

.page-footer-contacts-wrapper {
  padding: 64px 0 32px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #E6E6ED4D;
}

.page-footer-contacts-inner {
  display: flex;
  flex-direction: column;
}

.page-footer-mail {
  margin-bottom: 8px;
  font-size: 32px;
  font-weight: 500;
  line-height: 40px;
  text-decoration: none;
  color: #FFFBF5;
}

.page-footer-phone {
  font-size: 32px;
  font-weight: 500;
  line-height: 40px;
  text-decoration: none;
  color: #FFFBF5;
}

.page-footer-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: end;
}

.page-footer-item {
  margin-right: 40px;
}

.page-footer-item:last-child {
  margin: 0;
}

.page-footer-link {
  font-size: 18px;
  font-weight: 500;
  line-height: 26px;
  text-decoration: none;
  color: #FFFBF5;
}

.page-footer-copy-wrapper {
  padding: 16px 0 24px 0;
  display: flex;
  justify-content: space-between;
}

.page-footer-copyright {
  margin: 0;
  font-size: 12px;
  font-weight: 500;
  line-height: 14px;
  color: #8E8E8E;
}

.page-footer-privacy {
  margin: 0;
  font-size: 12px;
  font-weight: 500;
  line-height: 14px;
  color: #8E8E8E;
}