@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Montserrat-Regular.woff2") format("woff2"),
      url("../fonts/Montserrat-Regular.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/Montserrat-Medium.woff2") format("woff2"),
      url("../fonts/Montserrat-Medium.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/Montserrat-SemiBold.woff2") format("woff2"),
      url("../fonts/Montserrat-SemiBold.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/Montserrat-Bold.woff2") format("woff2"),
      url("../fonts/Montserrat-Bold.woff") format("woff");
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  font-family: "Montserrat", "Arial", sans-serif;
  margin: 0;
  min-height: 100%;
  /* width: 1920px; */
  min-width: 320px;
  display: flex;
  flex-direction: column;
  font-size: 22px;
  font-weight: 400;
  line-height: 33px;
  background-color: #ffffff;
  color: #151515;
}

/* page-header */
.page-header-container {
  /* width: 1920px; */
  /* min-width: 320px; */
  margin: 15px 64px 17px 64px;
  /* margin: 0 64px 97px 64px; */
  /* padding: 15px 64px 17px 64px; */
  /* padding-top: 15px; */
  display: flex;
  justify-content: space-between;
}

.logo {
  width: 259px;
  font-size: 28px;
  font-weight: 700;
  line-height: 40px;
  text-decoration: none;
  color: #151515;
}

.navigation {
  width: 452px;
}

.navigation-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-end;
}

.navigation-item {
  margin-right: 40px;
}

.navigation-item:last-child {
  margin: 0;
}

.navigation-link {
  font-size: 18px;
  font-weight: 500;
  line-height: 26px;
  text-decoration: none;
  color: #151515;
}

/* main */
.main-index-container {
  flex-grow: 1;
  max-width: 1312px;
  margin: 0 64px;
}

/* hero-index */
.hero-index-container {
  width: 1312px;
  margin-bottom: 120px;
}

.hero-title {
  margin: 0;
  padding-bottom: 40px;
  width: 799px;
  font-size: 70px;
  font-weight: 400;
  line-height: 80px;
}

.hero-desc {
  margin: 0;
  width: 750px;
}

.hero-title-violet {
  color: #AD53F4;
}

.hero-desc-bold {
  font-weight: 700;
}

/* last-cases */
.last-cases-list {
  list-style: none;
  margin: 0;
  padding: 0;
  /* display: flex;
  flex-wrap: wrap; */
}

.last-cases-hashtag {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  color: #8E8E8E;
}

.last-cases-link {
  font-size: 28px;
  font-weight: 500;
  line-height: 40px;
  text-decoration: none;
  color: #151515;
}

/* footer */
.page-footer {
  background-color: #1C1C1F;
  color: #FFFBF5;
}

.page-footer-mail {
  font-size: 32px;
  font-weight: 500;
  line-height: 40px;
  text-decoration: none;
  color: #FFFBF5;
}

.page-footer-phone {
  font-size: 32px;
  font-weight: 500;
  line-height: 40px;
  text-decoration: none;
  color: #FFFBF5;
}

.page-footer-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.page-footer-link {
  font-size: 18px;
  font-weight: 500;
  line-height: 26px;
  text-decoration: none;
  color: #FFFBF5;
}

.page-footer-copyright {
  font-size: 12px;
  font-weight: 500;
  line-height: 14px;
  color: #8E8E8E;
}

.page-footer-privacy {
  font-size: 12px;
  font-weight: 500;
  line-height: 14px;
  color: #8E8E8E;
}